@tailwind base;
@tailwind components;
@tailwind utilities;

 
@font-face { 
    font-family: 'Inter'; 
    src: url(./assets/fonts/Inter.ttf); 
  } 
@font-face { 
    font-family: 'Inter-Medium'; 
    src: url(./assets/fonts/Inter-Medium.ttf); 
  } 
@font-face { 
    font-family: 'Rubik'; 
    src: url(./assets/fonts/Rubik.ttf); 
  } 
@font-face { 
    font-family: 'Rubik-Medium'; 
    src: url(./assets/fonts/Rubik-Medium.ttf); 
  }